<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigScreen.business.dao.SecondPageMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bigScreen.business.model.SecondModel" id="BaseResultMap">
        <result column="country" property="country" jdbcType="VARCHAR" />
         <result column="province" property="province" jdbcType="VARCHAR" />
        <collection property="classNameList" ofType="com.bigScreen.business.model.ClassModel"  javaType="java.util.ArrayList" >
   	        <result column="className" property="className" jdbcType="VARCHAR" />
            
        </collection>
    </resultMap>



    <select id="getCountryList"  resultMap="BaseResultMap">
          SELECT
            v.country AS country
        FROM
            inter_training_view AS t
            INNER JOIN inter_class_view c ON t.CLASS_ID = c.CLASS_ID
            INNER JOIN address_view v ON t.WORK_CITY = v.city
        <where>
            <![CDATA[   country IS NOT NULL and DATE_FORMAT(c.END_DATE,'%Y') = DATE_FORMAT(now(), '%Y') ]]>
        </where>


        GROUP BY
            v.country
    </select>

	<select id="getClassNameByCity" resultMap="BaseResultMap">
SELECT
	d.province ,
	a.CLASS_NAME AS className
FROM
	address_view d
JOIN(
	SELECT
		c.CLASS_NAME ,
		t.DEPT2_ID
	FROM
		inter_training_view t ,
		inter_class_view c
        <where>
		t.CLASS_ID = c.CLASS_ID
	<![CDATA[ and DATE_FORMAT(c.END_DATE,'%Y') = DATE_FORMAT(now(), '%Y') ]]>
	) a ON a.DEPT2_ID = d.city
</where>
GROUP BY
	d.province ,
	a.CLASS_NAME		
	
	</select>


</mapper>