<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigScreen.business.dao.ThirdPageMapper">

    <resultMap type="com.bigScreen.business.model.ThirdModel" id="BaseResultMap">
        <result column="sumNum" property="sumNum" jdbcType="INTEGER" />
        <result column="depName" property="depName" jdbcType="VARCHAR" />
        <result column="system" property="system" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="personTime" property="personTime" jdbcType="INTEGER" />
        <result column="percent" property="percent" jdbcType="INTEGER" />
        
    </resultMap>
    
	
	<resultMap type="com.bigScreen.business.model.ThirdModel" id="DeptResultMap">
        <result column="depName" property="depName" jdbcType="VARCHAR" />
        <collection property="recordList" ofType="com.bigScreen.business.model.ThirdDeptModel"  javaType="java.util.ArrayList" >
	        <result column="sumNum" property="sumNum" jdbcType="INTEGER" />
	        <result column="date" property="date" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
	
	

    <select id="getSumBySystem"  resultMap="BaseResultMap" parameterType="java.util.HashMap" >
		select count(t.EMP_NO) number,t.DEPT1_ID as depName,t.SYSTEM as system 
				from 
			inter_training_view_new t
				left join inter_class_view c 
				on c.CLASS_ID = t.CLASS_ID 
			<where>
					 t.system is not null
				<if test="startDate!=null and startDate!=''">
				    <![CDATA[   and DATE_FORMAT(c.END_DATE, '%Y-%m')>=  #{startDate}  ]]>
				</if>
				<if test="endDate!=null and endDate!=''">
				    <![CDATA[  and DATE_FORMAT(c.END_DATE, '%Y-%m') <= #{endDate}   ]]>
				</if>
			</where>
	 		 	GROUP BY t.system,t.DEPT1_ID

    </select>
    
    <select id="getPersonSumBySystemAndDate"  resultMap="BaseResultMap" parameterType="java.util.HashMap" >
		select count(DISTINCT t.EMP_NO) personTime,t.DEPT1_ID as depName,t.SYSTEM as system 
			from 
		inter_training_view_new t
			left join inter_class_view c 
			on c.CLASS_ID = t.CLASS_ID 
		<where>
				 t.system is not null
			<if test="startDate!=null and startDate!=''">
			    <![CDATA[   and DATE_FORMAT(c.END_DATE, '%Y-%m')>=  #{startDate}  ]]>
			</if>
			<if test="endDate!=null and endDate!=''">
			    <![CDATA[  and DATE_FORMAT(c.END_DATE, '%Y-%m') <= #{endDate}   ]]>
			</if>
		</where>
 		 	GROUP BY t.system,t.DEPT1_ID
    </select>
    
    
    <select id="getPercentList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	    select CEILING((b.sumNum/a.sumNum)*100) as percent ,b.SYStem,b.depName
	    	from
	    	 (SELECT count(DISTINCT t.EMP_NO) sumNum , t.DEPT1_ID AS depName ,t.SYSTEM AS system
			FROM
				inter_training_view_new t
			LEFT JOIN inter_class_view c ON c.CLASS_ID = t.CLASS_ID
			WHERE
				t.system IS NOT NULL
			<if test="startDate!=null and startDate!=''">
			    <![CDATA[   and DATE_FORMAT(c.END_DATE, '%Y-%m')>=  #{startDate}  ]]>
			</if>
			<if test="endDate!=null and endDate!=''">
			    <![CDATA[  and DATE_FORMAT(c.END_DATE, '%Y-%m') <= #{endDate}   ]]>
			</if>
			GROUP BY
				t.system ,
				t.DEPT1_ID) b,
		(select count(NAME) sumNum,SYSTEM,DEPT1_NAME from inter_employee_view_new where SYSTEM is not null GROUP BY SYSTEM,DEPT1_NAME)a where a.DEPT1_name = b.depName
    
    </select>
    
     <select id="getPercentTimeList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    
	    select CEILING((b.sumNum/a.sumNum)*100) as percent ,b.SYStem,b.depName
	    	from
	    	 (SELECT count( t.EMP_NO) sumNum , t.DEPT1_ID AS depName ,t.SYSTEM AS system
			FROM
				inter_training_view_new t
			LEFT JOIN inter_class_view c ON c.CLASS_ID = t.CLASS_ID
			WHERE
				t.system IS NOT NULL
			<if test="startDate!=null and startDate!=''">
			    <![CDATA[   and DATE_FORMAT(c.END_DATE, '%Y-%m')>=  #{startDate}  ]]>
			</if>
			<if test="endDate!=null and endDate!=''">
			    <![CDATA[  and DATE_FORMAT(c.END_DATE, '%Y-%m') <= #{endDate}   ]]>
			</if>
			GROUP BY
				t.system ,
				t.DEPT1_ID) b,
		(select count(NAME) sumNum,SYSTEM,DEPT1_NAME from inter_employee_view_new where SYSTEM is not null GROUP BY SYSTEM,DEPT1_NAME)a where a.DEPT1_name = b.depName
    
    </select>
    
    <select id="getDepGroupByMonth" resultMap="DeptResultMap" parameterType="java.util.HashMap">
    	 select t.DEPT1_ID as depName,count(1) as sumNum ,DATE_FORMAT(c.END_DATE,"%Y-%m") as date 
    	 	from 
		inter_training_view_new t left join inter_class_view c on c.CLASS_ID = t.CLASS_ID
		<where>
			t.SYSTEM is not null and c.System is not null 
			<if test="startDate!=null and startDate!=''">
			    <![CDATA[   and DATE_FORMAT(c.END_DATE, '%Y-%m')>=  #{startDate}  ]]>
			</if>
			<if test="endDate!=null and endDate!=''">
			    <![CDATA[  and DATE_FORMAT(c.END_DATE, '%Y-%m') <= #{endDate}   ]]>
			</if>
		</where> 
		
		GROUP BY t.DEPT1_ID, DATE_FORMAT(c.END_DATE,"%Y-%m") 
		order by depName, date
    </select>
    <select id="getEmployeeCount" resultType="java.lang.String">
		SELECT COUNT(1) FROM inter_employee_view
	</select>
	<select id="getTrainingCount" resultType="java.lang.String">
		SELECT COUNT(a.number) FROM (
			SELECT COUNT(1) AS number
			FROM
			inter_training_view AS train,
			inter_class_view AS class
			WHERE class.CLASS_ID = train.CLASS_ID
			AND DATE_FORMAT(class.END_DATE,'%Y') = DATE_FORMAT(NOW(),'%Y')
			GROUP BY(train.EMP_NO)
			) AS a
	</select>
	<select id="getNewJoinCount" resultType="java.lang.String">
		SELECT count(1) from (
			SELECT COUNT(1) FROM inter_training_view WHERE CLASS_ID IN (
			SELECT CLASS_ID
			FROM inter_class_view
			WHERE
			CLASS_NAME  like '%新员工入职培训%'
			AND System = '公司级'
			AND CLASSIFICATION = '新员工'
			AND DATE_FORMAT(END_DATE,'%Y') = DATE_FORMAT(NOW(),'%Y')
			)
			GROUP BY (EMP_NO)) AS a
	</select>
	<select id="getAllTrain" resultType="java.util.Map">
		SELECT count(1) AS count, SYSTEM AS sys FROM (
			SELECT train.EMP_NO,train.SYSTEM
			FROM inter_training_view train,
			inter_class_view class
			WHERE train.SYSTEM IS NOT NULL
			AND class.CLASS_ID = train.CLASS_ID
			AND DATE_FORMAT(class.END_DATE,	'%Y') = DATE_FORMAT(now(),'%Y')
			GROUP BY train.SYSTEM, train.EMP_NO
			) AS a GROUP BY SYSTEM
	</select>
	<select id="getAllEmployee" resultType="java.util.Map">
		SELECT SYSTEM AS sys, COUNT(1) as count FROM inter_employee_view
			WHERE SYSTEM is not null
			GROUP BY SYSTEM
	</select>

	<select id="getClassMap" resultType="java.util.Map">
        SELECT CLASSIFICATION, COUNT(CLASS_ID) AS COUNT FROM inter_class_view
        WHERE CLASSIFICATION IS NOT NULL
				AND DATE_FORMAT(END_DATE,	'%Y') = DATE_FORMAT(now(),'%Y')
        GROUP BY CLASSIFICATION
    </select>
</mapper>